In [1]:
import numpy as np 
import pandas as pd 
import json
import os 
import matplotlib.pyplot as plt

In [17]:
PARSED_FILE = './parsed.json'
with open(PARSED_FILE, 'r') as json_file:
    data = json.load(json_file)

# Create a DataFrame from the list of dictionaries
df = pd.json_normalize(data)
df

,workload,discards,foundbug,strategy,mutant,passed,property,time
0,BST,210,True,typeBasedGenerator,insert_3,199,prop_InsertDelete,41.74
1,BST,597,False,typeBasedGenerator,insert_3,603,prop_InsertDelete,112.75
2,BST,626,False,typeBasedGenerator,insert_3,574,prop_InsertDelete,138.14
3,BST,611,False,typeBasedGenerator,insert_3,589,prop_InsertDelete,106.85
4,BST,555,True,typeBasedGenerator,insert_3,564,prop_InsertDelete,91.03
...,...,...,...,...,...,...,...,...
2475,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,0.15
2476,BST,0,True,bespokeGenerator,union_7,1,prop_UnionModel,0.19
2477,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,0.15
2478,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,3.45
2479,BST,0,True,bespokeGenerator,union_7,1,prop_UnionModel,0.15

In [18]:
bespoke = df[df['strategy'] == "bespokeGenerator"]
bespoke

,workload,discards,foundbug,strategy,mutant,passed,property,time
20,RBT,0,True,bespokeGenerator,insert_2,8,prop_InsertPost,3.66
21,RBT,0,True,bespokeGenerator,insert_2,18,prop_InsertPost,0.67
22,RBT,0,True,bespokeGenerator,insert_2,3,prop_InsertPost,0.44
23,RBT,0,True,bespokeGenerator,insert_2,13,prop_InsertPost,0.63
24,RBT,0,True,bespokeGenerator,insert_2,6,prop_InsertPost,0.50
...,...,...,...,...,...,...,...,...
2475,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,0.15
2476,BST,0,True,bespokeGenerator,union_7,1,prop_UnionModel,0.19
2477,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,0.15
2478,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,3.45
2479,BST,0,True,bespokeGenerator,union_7,1,prop_UnionModel,0.15

In [19]:
rbt = df[df['workload'] == 'RBT']
print("RBT, Type-Based Generator:")
display(rbt[rbt['strategy'] == 'typeBasedGenerator'].describe())
print("RBT, Bespoke Generator:")
display(rbt[rbt['strategy'] == 'bespokeGenerator'].describe())

RBT, Type-Based Generator:

          discards      passed        time
count   580.000000  580.000000  580.000000
mean    735.596552   91.787931  218.429690
std     448.662260   57.204371  138.128859
min       0.000000    0.000000    0.090000
25%     209.000000   26.000000   64.297500
50%    1057.000000  124.000000  278.600000
75%    1069.000000  135.250000  324.757500
max    1097.000000  165.000000  448.610000

RBT, Bespoke Generator:

       discards      passed        time
count     500.0   500.00000  500.000000
mean        0.0   196.11000   17.139580
std         0.0   585.80193   49.635689
min         0.0     0.00000    0.090000
25%         0.0     1.00000    0.260000
50%         0.0    18.50000    2.060000
75%         0.0   107.25000    9.962500
max         0.0  5368.00000  459.700000

In [20]:
stlc = df[df['workload'] == 'STLC']
print("stlc, Type-Based Generator:")
display(stlc[stlc['strategy'] == 'typeBasedGenerator'].describe())
print("stlc, Bespoke Generator:")
display(stlc[stlc['strategy'] == 'bespokeGenerator'].describe())

stlc, Type-Based Generator:

          discards      passed          time
count   200.000000  200.000000    200.000000
mean   1087.825000   91.805000  50409.384850
std     129.376061   14.091837  10655.271199
min      47.000000    2.000000   1153.440000
25%    1100.750000   87.000000  44468.917500
50%    1107.000000   92.000000  50443.640000
75%    1112.000000   99.000000  56643.112500
max    1139.000000  120.000000  84593.740000

stlc, Bespoke Generator:

         discards        passed        time
count  200.000000    200.000000   200.00000
mean     0.260000   2171.950000   328.16525
std      0.439735   6320.332525  1033.93565
min      0.000000      0.000000     0.13000
25%      0.000000     47.000000     4.43250
50%      0.000000    148.500000    12.63500
75%      1.000000    421.500000    52.84750
max      1.000000  40137.000000  6846.89000

In [21]:
fails = stlc[stlc['strategy'] == 'bespokeGenerator']
fails = fails[fails['foundbug'] == False]
fails

Empty DataFrame
Columns: [workload, discards, foundbug, strategy, mutant, passed, property, time]
Index: []

In [22]:
d = df[df['foundbug'] == False]
d = d[d['strategy'] == 'bespokeGenerator']
d

Empty DataFrame
Columns: [workload, discards, foundbug, strategy, mutant, passed, property, time]
Index: []

In [25]:
ran = df.loc[df['strategy'] == 'bespokeGenerator', 'property'].unique()
df.loc[(df['strategy'] == 'typeBasedGenerator') & (df['property'].isin(ran))] 
df

,workload,discards,foundbug,strategy,mutant,passed,property,time
0,BST,210,True,typeBasedGenerator,insert_3,199,prop_InsertDelete,41.74
1,BST,597,False,typeBasedGenerator,insert_3,603,prop_InsertDelete,112.75
2,BST,626,False,typeBasedGenerator,insert_3,574,prop_InsertDelete,138.14
3,BST,611,False,typeBasedGenerator,insert_3,589,prop_InsertDelete,106.85
4,BST,555,True,typeBasedGenerator,insert_3,564,prop_InsertDelete,91.03
...,...,...,...,...,...,...,...,...
2475,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,0.15
2476,BST,0,True,bespokeGenerator,union_7,1,prop_UnionModel,0.19
2477,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,0.15
2478,BST,0,True,bespokeGenerator,union_7,0,prop_UnionModel,3.45
2479,BST,0,True,bespokeGenerator,union_7,1,prop_UnionModel,0.15